.cell {
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  min-height: calc(100% / 5);
  min-width: calc(100% / 5);
  overflow: hidden;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  min-height: calc(100% / 5);
  position: relative;
  width: 100%;
}
